<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Form Input Template</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
      <h1 class="display-4">Hello, adventurer!</h1>
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
          <label for="input_name">What is your name, young one?</label>
          <input type="text" class="form-control" name="input_name"  id="input_name" placeholder="Charles Buckley">
        </div>
        <div class="form-group">
          <label for="input_role">What is your role?</label>
          <select class="form-control" name="input_role" id="input_role">
            <option>Mage</option>
            <option>Assassin</option>
            <option>Barbarian</option>
            <option>Warrior</option>
            <option>Knight</option>
            <option>Rogue</option>
            <option>Noble</option>
          </select>
        </div>
        <div class="form-group">
          <label for="input_homeland">What homeland do you venture from? </label>
          <input type="text" class="form-control" name="input_homeland" id="input_homeland" placeholder="Riften">
        </div>
        <div class="form-group">
            <label for="input_weapon">What weapon are you most proficient in?</label>
            <select class="form-control" name="input_weapon" id="input_weapon">
                <option>A heroic and classic sword</option>
                <option>The small yet deadly knife</option>
                <option>A ranged and skillfull Bow</option>
                <option>The art of speech and charisma</option>
                <option>A barbaric axe</option>
                <option>A Samurai's katana</option>
                <option>The magic art of spells</option>
            </select>
        </div>
        <div class="form-group">
            <label for="input_familiar">What familiar do you travel with?</label>
            <input type="text" class="form-control" name="input_familiar" id="input_familiar" placeholder="A tiger">
        </div>
        <div class="form-group">
          <label for="input_adventure">What adventure do you embark on? </label>
          <textarea class="form-control" name="input_adventure" id="input_adventure" rows="3" placeholder="to find the holy grail"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container">
      {% if input_data %} {{ input_data }} {% endif %}
      <br />
      {% if name %} A long time ago,  {{ name }} a {{ role }} from {{ homeland }} left his home with his {{familiar}} and equipped with {{weapon}} {{adventure}}     {% endif %}
    </div>
  </body>
</html>

